.Screen {
    display: flex;
    background-color: #f5f5f5; 
}

.toolbar {
    height: 100vh;
    width: 20%;
    background-color: #2e3b4e; 
    color: #ffffff;
    border-right: 1px solid #b0b0b0;
}

.calendar-container {
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.calendar {
    width: 90%; 
    height: auto; /* Ajustement dynamique selon le contenu */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

/* Toolbar */
.rbc-toolbar {
    height: 10vh;
    color: #616e7c;
    font-size: 22px;
}

.rbc-btn-group > button {
    border: 0;
    background-color: #f0f3f7;
}

.rbc-toolbar button {
    color: #616e7c;
    border: 1px solid #cecece;
    background-color: #e7ebf0;
    border-radius: 5px;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
    background-color: #a8b6c1;
    border-color: #bbb;
}

/* Calendar view */
.rbc-month-view {
    border-color: rgba(220, 220, 220, 0.8);
}

.rbc-header {
    color: #2e3b4e;
    border-bottom: 2px solid rgba(200, 200, 200, 0.8);
}

.rbc-off-range-bg {
    background-color: #f0f0f0;
}

.rbc-today {
    background-color: #4e73df;
    color: white;
}

/* Buttons and Links */
.rbc-button-link {
    margin: 5px;
    font-size: 14px;
    color: #4e73df;
}

/* Time slots and agenda */
.rbc-time-content, .rbc-time-slot {
    color: #bbb;
    border-color: #b0b0b036;
}

.rbc-agenda-date-cell, .rbc-agenda-time-cell {
    background-color: #262626;
}

.rbc-agenda-event-cell {
    border-radius: 20px;
}

/* Position adjustments */
.Screen {
    display: flex;
    flex-direction: row; /* Keep the toolbar on the left and calendar on the right */
    height: 100vh;
}

.calendar-container {
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.calendar {
    width: 100%;
    height: 90%; /* Take most of the screen height */
}
